version: '3'
services:
  nginx:
    restart: always
    image : nginx:latest
    depends_on:
      - web
    ports :
        - 80:80
        - 443:443
    volumes:
        - ./certs:/etc/nginx/certs
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
  web:
    image: andrewmc/mortimer_web:0.0.1
    depends_on:
      - db
    ports:
      - 8069:8069
    volumes:
      - ./addons:/mnt/extra-addons
      - ./data:/mnt/data
  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo